{% extends 'base.html.twig' %}

{% block title %}AbsenceType index{% endblock %}

{% block body %}
    <h1>AbsenceType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence_type in absence_types %}
            <tr>
                <td>{{ absence_type.id }}</td>
                <td>{{ absence_type.label }}</td>
                <td>
                    <a href="{{ path('app_absence_type_show', {'id': absence_type.id}) }}">show</a>
                    <a href="{{ path('app_absence_type_edit', {'id': absence_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_absence_type_new') }}">Create new</a>
{% endblock %}
