{% extends 'base.html.twig' %}

{% block title %}Shift index{% endblock %}

{% block body %}
    <h1>Shift index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Day</th>
                <th>Start_time</th>
                <th>End_time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shift in shifts %}
            <tr>
                <td>{{ shift.id }}</td>
                <td>{{ shift.date ? shift.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ shift.day }}</td>
                <td>{{ shift.startTime ? shift.startTime|date('H:i:s') : '' }}</td>
                <td>{{ shift.endTime ? shift.endTime|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_shift_show', {'id': shift.id}) }}">show</a>
                    <a href="{{ path('app_shift_edit', {'id': shift.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_shift_new') }}">Create new</a>
{% endblock %}
