{% extends 'base.html.twig' %}

{% block title %}Shift{% endblock %}

{% block body %}
    <h1>Shift</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shift.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ shift.date ? shift.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ shift.day }}</td>
            </tr>
            <tr>
                <th>Start_time</th>
                <td>{{ shift.startTime ? shift.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End_time</th>
                <td>{{ shift.endTime ? shift.endTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shift_index') }}">back to list</a>

    <a href="{{ path('app_shift_edit', {'id': shift.id}) }}">edit</a>

    {{ include('shift/_delete_form.html.twig') }}
{% endblock %}
