{% extends 'base.html.twig' %}

{% block title %}ShiftType{% endblock %}

{% block body %}
    <h1>ShiftType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shift_type.id }}</td>
            </tr>
            <tr>
                <th>Shift_name</th>
                <td>{{ shift_type.shiftName }}</td>
            </tr>
            <tr>
                <th>Default_start</th>
                <td>{{ shift_type.defaultStart ? shift_type.defaultStart|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Default_end</th>
                <td>{{ shift_type.defaultEnd ? shift_type.defaultEnd|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shift_type_index') }}">back to list</a>

    <a href="{{ path('app_shift_type_edit', {'id': shift_type.id}) }}">edit</a>

    {{ include('shift_type/_delete_form.html.twig') }}
{% endblock %}
